services:
  db:
    image: postgres:17
    command: "postgres -c checkpoint_timeout=10min -c fsync=off -c full_page_writes=off -c max_wal_size=2GB -c synchronous_commit=off"
    tmpfs:
      - /var/lib/postgresql/data:rw,async,noatime
    healthcheck:
      test: pg_isready -U root -d dummy
      interval: 3s
      timeout: 3s
      retries: 3
    ports:
      - "5432"
    labels:
      io.quarkus.devservices.compose.config_map.port.5432: quarkus.datasource.jdbc.port
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=dummy
